/* Спецификация */

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #929292;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  font-weight: 400;
  color: #333333;
  text-align: center;
}

h1 {
 font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 18px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button:active {
  text-decoration: none;
  border: none;
}

p {
  line-height: 1.5em;
}

.blue {
  color: #0f7bff !important;
}

/* Header */

.header {
  background: #f5fcfd;
}

.logo {

}

.header__logo {
  padding-top: 25px;
  font-weight: 700;
  color: #0f7bff;
  text-align: left;
}

.header__logo a:hover {
  color: #0f7bff;
}

.my-navbar {
  padding-top: 25px;
  position: relative;
  padding-bottom: 25px;
}

.my-navbar .nav-item {
  padding-left: 10px;
  text-transform: uppercase;
  font-weight: 500;
}

.my-navbar .button__sign_in {
  box-sizing: content-box;
  width: 100%;
  background: #0f7bff;
  border: none;
  border-radius: 30px;
  color: #fff !important;
  font-weight: 700;
  /* position: absolute; */
  padding-bottom: 15px;
  /* margin-left: 140px; */
  margin-top: -7px;
  padding: 15px 35px;
  text-transform: uppercase;
  transition: all .5s ease;
}

.button__sign_in:hover {
  background: #7ec3f8;
  transition: all .5s ease;
}

.my-navbar .button__sign_in:focus {
  outline: none;
}

/* offer */

.offer {
  background: #f5fcfd;
}

.offer__hr {
  margin: 0;
  border: none; 
  color:#dcdcdc; 
  background-color: #dcdcdc; 
  height: 1px; 
}

.offer__img {
  padding-top: 35px ;
}


.offer__titles__info {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding-top: 140px;
  color: #333333;
}

.offer__titles__title {
  text-align-last: left;
  font-weight: 700;
  font-size: 46px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  color: #333333;
}

.offer__titles__text {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 105px;
  color: #333333;
}

/* questions */

  .questions {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .menu a{
    color: #333333;
    font-weight: 700;
    padding: 15px 20px;
  }

  .question__button {
    margin-top: 10px;
  }

 

  .post__question {
    padding-bottom: 40px;
  }

  .post__question__title {
    text-align: left;
    color: #333333;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
  }

  .post__question__text {
    text-align: left;
    margin: 0;
    padding: 0;
    font-style: 16px;
  }
  
  .question__button__title {
    font-weight: 700;
    font-size: 18px;
    color: #333333;
    margin: 0;
    padding: 0;
    padding-right: 30px;

  }

  .question__button {
    margin-top: 5px;
  }

  .question__button__Y {
    /* display: block; */
    border: #0f7bff solid 1px;
    color: #fff;
    background: #0f7bff;
    margin-right: 15px;
    padding: 0 25px;
    border-radius: 3px;
    font-weight: 700;
    transition: all .5s ease;
  }

  .question__button__Y:active {
    border: #0f7bff solid 1px;
    color: #0f7bff;
    background: #fff;
    transition: all .5s ease;
  }  

  .question__button__N {
    border: #0f7bff solid 1px;
    background: #fff;
    color: #0f7bff;
    padding: 0 25px;
    border-radius: 3px;
    font-weight: 700;
    transition: all .5s ease;
  }

  .question__button__N:active {
    border: #0f7bff solid 1px;
    color: #fff;
    background: #0f7bff;
    transition: all .5s ease;
  }  

  .question__button__Y:focus {
    outline: none
  }

  .question__button__N:focus {
    outline: none
  }

  .question__button__Y:active {
    border: #0f7bff solid 1px;
  }

  .question__button__N:active {
    border: #0f7bff solid 1px;
  }

/* widget */


.widget {
  background: #f5fcfd;
  padding-top: 130px;
  padding-bottom: 130px;
}

.w__offer__logo {
  margin: 0;
  padding: 0;
  color: #0f7bff;
  text-align: left;
  padding-bottom: 30px;
  font-weight: 700;
}

.w__offer__text {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}

.w__offer__img {
  display: flex;
}

.w__offer__img a {
  margin-right: 15px;
}

.w__offer__img-1 {
  margin-top: -4px;
  display: block;
  background-image: url(../img/fb.svg);
  height: 20px;
  width: 10px; 
  transition: all .5s ease
}

.w__offer__img-1:hover {
  display: block;
  height: 20px;
  width: 10px;
  background-image: url(../img/fb__blue.svg);
  transition: all .5s ease
}

.w__offer__img-2 {
  display: block;
  height: 16px;
  width: 18px;
  background-image: url(../img/twitter.svg) ;
  transition: all .5s ease
}

.w__offer__img-2:hover {
  display: block;
  height: 16px;
  width: 18px;
  background-image: url(../img/twitter__blue.svg) ;
  transition: all .5s ease
}

.w__offer__img-3 {
  display: block;
  height: 14px;
  width: 19px;
  background-image: url(../img/yt.svg) ;
  transition: all .5s ease
}

.w__offer__img-3:hover {
  display: block;
  height: 14px;
  width: 19px;
  background-image: url(../img/yt__blue.svg) ;
  transition: all .5s ease
}

.widget__features__title {
  margin: 0;
  padding: 0;
  text-align: left !important;
  padding-bottom: 20px;
  color: #333;
  font-weight: 700;
}

.widget__features__list {
  margin: 0;
  padding: 0;
  text-align: left !important;
}

.widget__features__list li a{
  display: block;
  margin-top: 15px;
  color: #929292 ;
  white-space: nowrap !important;
  transition: all .5s ease
}

.widget__features__list li a:hover {
  color: #0f7bff;
  transition: all .5s ease
}

/* footer */

.footer__hr {
  margin: 0;
  border: none; 
  color:#dcdcdc; 
  background-color: #dcdcdc; 
  height: 1px; 
}

.footer {
  background: #f5fcfd;
}

.left__content {
  padding-top: 30px;
}

.right__contnent {
  padding-top: 20px;
  text-align: right;
  margin-left: 100px;
}

.right__contnent span {
  padding-left: 30px;
}

.right__contnent a {
  color: #929292;
  transition: all .5s ease
}

.right__contnent a:hover {
  color: #0f7bff;
  transition: all .5s ease
}

.button__up {
  position: absolute;
  box-sizing: content-box;
  background: #0f7bff;
  border: none;
  color: #fff !important;
  margin-top: -10px;
  margin-left: 160px;
  padding: 10px 15px;
  margin-right: -230px;
}

.about .col-lg-2 {
  padding-left: 0;
}
/* My-class */

.my-col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.my-col-lg-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.my-col-lg-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

/* media */

@media (max-width: 1780px) {
  .my-navbar .button__sign_in {
    position: absolute !important;
    margin-left: 20px;
    box-sizing: content-box;
    width: 20%;
  }

  .my-navbar .nav-item {
    padding-left: 10px;
  }

  .button__up {
    box-sizing: content-box;
    background: #0f7bff;
    border: none;
    color: #fff !important;
    margin-left: 100px;
    /* margin-top: -10px; */
    padding: 10px 15px;
    margin-right: -150px;
  }
}

@media (min-width: 1700px) {
  .logo{
    margin-left: -240px !important;
  }
}

@media (min-width: 1550px) {
  .logo{
    margin-left: -100px;
  }

  .my-navbar .button__sign_in {
    position: absolute !important;
    margin-left: 60px;
    box-sizing: content-box;
    width: 20%;
  }
  .my-navbar .nav-item {
    padding-left: 30px;
  }
}

@media (max-width: 1550px) {
  .button__up {
    box-sizing: content-box;
    background: #0f7bff;
    border: none;
    color: #fff !important;
    margin-left: 30px;
    margin-top: -10px;
    padding: 10px 15px;
    margin-right: 0px !important;
  }

  .right__contnent {
    padding-top: 30px;
    text-align: right;
    margin-left: 0px;
  }
}

@media (max-width: 1440px) {
  .my-navbar {
    margin-right: 130px;
  }
}

@media (max-width: 1370px) {
  .my-col-lg-7 {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .my-col-lg-5 {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .right__contnent {
    /* margin-right: 55px !important; */
  }

  .button__up {
    position: static;
    box-sizing: content-box;
    background: #0f7bff;
    border: none;
    color: #fff !important;
    margin-left: 30px !important;
    margin-top: -10px;
    padding: 10px 15px;
    margin-right: 0px !important;
  }
  .offer__titles__title {
    text-align-last: center;
  }
}

@media (max-width: 1199px) {
  .offer__titles__info {
    text-align: center;
  }

  .offer__titles__text {
    text-align: center;
  }
}

@media (max-width: 1060px) {
  .offer__img img{
    width: 100% ;
    /* margin: 0 auto; */
  }
  .offer__titles__title {
    text-align-last: center;
  }
}

@media (max-width: 992px) {

  .header__logo {
    padding-top: 25px;
    font-weight: 700;
    color: #0f7bff;
    text-align: left;
    padding-bottom: 25px;
  }
  
  
  .my-navbar {
    margin-right: 0px;
  }
  
  #navbarNav .button__sign_in {
    position: static !important;
    text-transform: uppercase;
    box-sizing: content-box;
    background: #0f7bff;
    border: none;
    border-radius: 0px !important;
    color: #fff !important;
    font-weight: 700;
    margin-left: 0px;
    margin-top: 5px;
    padding: 5px 5px;
    
    white-space: nowrap !important;
    text-align: left;
    width: auto !important; 
}

  .navbar-toggler {
    position: absolute;
    right: 10px;
    top: 25px;
  }

  #navbarNav {
    margin-top: 50px;
    margin-left: -700px;
    margin-bottom: 50px;
  }

  .offer__img img{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .offer__titles__info {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 100px;
  }  

  .offer__titles__title {
    align-items: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px !important;
    font-size: 36px;
    margin: 0 auto;
    padding-top: 0;
  }

  .offer__titles__text {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    /* padding-bottom: 80px; */
  }

  .post__question {
    padding-left: 15px;
    padding-right: 15px;
  }

  .menu {
    padding-left: 15px;
    padding-right: 15px;
  }

  .question__button {
    padding-left: 15px;
    padding-right: 15px;
  }

  .h__btn {
    display: flex !important;
    justify-content: center !important;
  }

  .login__button {
    display: flex !important;
    justify-content: center !important;  
    margin: 0;
  }
  
  .w__offer__logo {
    margin: 0;
    padding: 0 15px;
    color: #0f7bff;
    text-align: center;
    padding-bottom: 30px;
  }
  
  .w__offer__text {
    margin: 0;
    padding: 0 15px;
    padding-bottom: 40px;
    text-align: center;
  }
  
  .w__offer__img {
    justify-content: center;
  }
  .widget__features {
    padding-top: 40px;
  }

  .widget__features__title {
    text-align: center !important;
    padding-bottom: 0px !important;
  }

  .widget__features__list {
    text-align: center !important;
  }

  .left__content {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center !important;
  }

  .right__contnent {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center !important;
    margin-right: 0 !important;
  }

  .button__up {
    position: static;
  }
  .footer {
    padding-bottom: 100px;
  }  

  .footer .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer .row .my-col-lg-5 {
    margin-left: 0 !important;
  }

  .widget {
    padding-bottom: 100px;
    padding-top: 100px;
  }

  .menu {
    margin-bottom: 50px;
  }

  .offer__titles__title {
    text-align-last: center;
  }
}

@media (max-width: 767px) {
  #navbarNav {
    margin-top: 90px;
    margin-left: -510px;
  }
}

@media (max-width: 576px) {

  .offer__titles__title {
    align-items: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px ;
    font-size: 36px;
    white-space: pre-line;
  }
  .logo {
    margin-left: 15px;
  }

  #navbarNav {
    margin-top: 90px;
    margin-left: -480px;
  }

  .about {
    display: flex;
    flex-direction: column !important;
  }

  .widget {
    padding-bottom: 100px;
  }

  .question__button {
    flex-direction: column;
    align-items: center;
  }


  .question__button__title {
    padding: 0;
    
  }
  .question__button__Y {
    margin: 0;
    margin-top: 10px;

  }

  .question__button__N {
    margin-top: 10px;
  }

}

@media (max-width: 500px){
  #navbarNav {
    margin-top: 90px;
    margin-left: -380px;
  }
}

@media (max-width: 471px) {
  .right__contnent {
    position: relative;
  }
  .button__up {
    display: block;
    width: 20%;
    margin: 0 auto !important;
    margin-top: 20px !important;
  }

  .right__contnent {
    height: 100px;
  }
}

@media (max-width: 416px) {
  #navbarNav {
    margin-top: 90px;
    margin-left: -350px;
  }

  .right__contnent span:nth-child(3) {
    padding-right: 30px !important;
  }

  .right__contnent span:first-child {
    padding-left: 0px !important;
  }
}

@media (max-width: 368px) {
  #navbarNav {
    margin-top: 90px;
    margin-left: -290px;
  }

  .right__contnent span:nth-child(3) {
    padding-right: 30px !important;
  }

  .right__contnent span:first-child {
    padding-left: 0px !important;
  }
}